<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Fashion Store : Products</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{css/Products.css}" />
	
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	
		
		<section class="p2">
<section>
	<div class="a1"><img alt="Polo Shirt" th:src="@{/images/poloshirt.jpg}"/><h3>Polo Shirt</h3><h4>62,99</h4></div>
	
	<div class="a3"><img alt="Petal Gown Dress" th:src="@{/images/petal.jpg}"/><h3>Petal Gown Dress</h3><h4>399</h4></div>
	<div class="a2"><img alt="Black Dress" th:src="@{/images/black.jpg}"/><h3>Black Dress</h3><h4>550</h4></div>
	
</section>
<section>
   <div class="a4"><img alt="Jeans" th:src="@{/images/jeans.jpg}"/><h3>Jeans</h3><h4>200</h4></div>
   <div class="a7"><img alt="Jeans" th:src="@{/images/jeans2.jpg}"/><h3>Jeans</h3><h4>250</h4></div>
	<div class="a6"><img alt="Mini Dress" th:src="@{/images/mini.jpg}"/><h3>Mini Dress</h3><h4>700</h4></div>
</section>
<section>
	<div class="a8"><img alt="Floral Dress" th:src="@{/images/floral.jpg}"/><h3>Floral Dress</h3><h4>450</h4></div>
	<div class="a9"><img alt="Fedora Hat" th:src="@{/images/fedora.jpg}"/><h3>Fedora Hat</h3><h4>125</h4></div>
	<div class="a9"><img alt="Dress" th:src="@{/images/dress.jpg}"/><h3>Dress</h3><h4>350</h4></div>
</section>
<section>
	<div class="a10"><img alt="Mini Shirt Dress" th:src="@{/images/mini1.jpg}"/><h3>Mini Shirt Dress</h3><h4>319</h4></div>
	<div class="a11"><img alt="Hoodie" th:src="@{/images/hoodie.jpg}"/><h3>Hoodie</h3><h4>400</h4></div>
	<div class="a12"><img alt="Shirt" th:src="@{/images/shirt.jpg}"/><h3>Shirt</h3><h4>150</h4></div>
	
</body>

</html>